div.card {
  background: none;
}

#accordion-drawers-container {
  font-size: 13px;
  line-height: normal;
  color: #040c13;
  font-family: Human BBY Web, Arial, Helvetica, sans-serif;
  box-sizing: border-box;

  body {
    font-size: 13px;
    line-height: normal;
    color: #040c13;
    font-family: Human BBY Web, Arial, Helvetica, sans-serif;
  }

  .collin-drawers-app-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    max-width: 1600px;
    min-width: 992px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    div.collin-drawers-app-container {
      width: 100%;
    }
  }

  @media screen and (min-width: 992px) {
    div.collin-drawers-app-container {
      width: 100%;
    }
  }

  .icon-credit {
    font-size: 2px;
    display: none;
  }
}
