tr {
  display: flex;
  height: 18px;
  margin-bottom: 21px;
}

td {
  width: 50%;
  padding-left: 18px;
  padding-right: 18px;
}

.spec-name {
  height: 21px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.spec-name-text {
  display: inline-block;
  padding-right: 10px;
}

.info-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  align-items: flex-start;
  cursor: pointer;
}

.info-i-circle {
  fill: #fff;
  stroke: #0046be;
  stroke-width: 3px;
  transition: fill 0.3s, stroke 0.3s;
}

.info-i-text {
  fill: #0046be;
  transition: fill 0.3s;
}

.info-i-circle.focus {
  fill: #0046be;
}

.info-i-text.focus {
  fill: #fff;
}

.more-info-modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  overflow: auto;
}

.modal-content {
  position: relative;
  background-color: rgba(44, 44, 44, 0.65);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.modal-container {
  min-width: 1008px;
  max-width: 1008px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
}

.modal-box {
  width: 33.33333333%;
  padding: 30px 20px;
  background-color: #fff;
  margin: 60px auto;
  display: flex;
  position: relative;
  cursor: text;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.modal-description {
    font-weight: normal;
}

.open {
    display: block;
}

.close-modal {
    color: #0046be;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    box-shadow: none;
    background: none;
    font-size: 19px;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
}
