tr {
    display: flex;
    height: 18px;
    margin-bottom: 21px;
}

td {
    width: 50%;
    padding-left: 18px;
    padding-right: 18px;
}

.spec-name {
    height: 21px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.spec-name-text {
    display: inline-block;
    padding-right: 10px;
}

.info-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    align-items: flex-start; 
    cursor: pointer;  
}

.info-i-circle {
    fill: #fff;
    stroke: #0046be;
    stroke-width: 3px;
    transition: fill 0.3s, stroke 0.3s;
}

.info-i-text {
    fill: #0046be;
    transition: fill 0.3s;
}

.info-i-circle.focus {
    fill: #0046be;
}

.info-i-text.focus {
    fill: #fff;
}