h3 {
    margin: 0;
}

.specs-content-container {
    display: flex;
}

.specs-content-container:first-child {
    margin-top: 15px;
}

.specs-content-container:last-child {
    margin-bottom: 15px;
}

.category-title-container {
    width: 25%;
}

.category-table {
    width: 75%;
}

tr {
    display: flex;
    height: 18px;
    margin-bottom: 21px;
}

td {
    width: 50%;
    padding-left: 18px;
    padding-right: 18px;
}

.spec-name {
    font-weight: bold;
}
